*{
    box-sizing: border-box;
}

html, body {
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    font-weight: normal;
    font-size: 16px;
    height: 100%;
}
form {
    display: block;
    margin-top: 0em;
    margin-block-end: 0em;
}
/* Add a black background color to the top navigation */
header {
    height: 120px;
    background-color: 	#C0C0C0;
    box-shadow: 0px 5px 3px 0px rgba(0,0,0,.2)
}

/* Style the links inside the navigation bar */
header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header * {
    color: white;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .search-container{
    position: relative;
}

header ul{
    float: right;
    margin: 0px;
    padding: 31px;
    list-style: none;
}
header ul li {
    float: left;
    position: relative;
    text-align: center;
}

header ul li ul{
    position: absolute;
    top: 120px;
    right: 0px;
    width: 180px;
}

header ul li ul li {
    width: 100%;
}

header ul li ul li a {
    padding: 10px;
    color: gray;
}

header ul li a{
    display: block;
    padding: 15px;
    font-size: 1.1em;
}

header ul li a:hover{
   background: #62a0cf;
    transition: 0.5s;
}
header .menu-toggle{
    display: none;
}
body .cartbackground {

    background-color: #ADD8E6;
}

.continuebox {
    border: #62a0cf;
    border: solid 2px;
    max-width: 1100px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    background-color: #F8F8FF;
    margin-top: 10px;
}

.cartbox {
    border: #62a0cf;
    border: solid 2px;
    max-width: 1100px;
    text-align: center;background-color: #F8F8FF;
    margin-top: 10px;
}

.leftbutton{
    float: left;
    margin: 5px;
}

.rightbutton{
    float: right;
    margin-top: -12px;
    margin-right: 5px;
}
.content {
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    height: 100%;
}

.cartcontent {
    margin: 0 auto;
    max-width: 50%;
    height: 100%;
}

.cartProduct {
    margin: 10px;
    background-color: #F8F8FF;
    text-align: left;
    max-width: 50%;
    margin-top: -7px;
}
.clearFloat {
    clear: both;
    font-size: 14px;
    cursor: pointer;
}

.cartButton{
    text-transform: uppercase;
    outline: 0;
    background: #696969;
    width: 300px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.toevoegenWWButton {
    text-transform: uppercase;
    outline: 0;
}

.cartlink{
    text-align: center;
    top: 10px;
    border: solid black;
}

.productContent {
    margin: 0 auto;
    max-width: 1500px;
}

.flexContent{
    margin-top: 50px;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
    width: 100%;
}
#left {
    border-right: lightgrey solid 1px;
    flex-grow: 1;
    height: 100%;
    max-width: 60%;
    width: 50%;
    float: left;

}

#right {
    flex: 1;
    height: 100%;
    max-width: 40%;
    width: 32%;
    float: right;
    position: absolute;
    top: 18%;
    right: 7%;

}

/* Stijl product div's */
.product-title{
    font-weight: bold;
    font-size: 35px;
}



.product-price{
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
}
.product-send{
   color: black;
    margin-top: 5px;

}

.product-quantity{
    margin-top: 5px;
}

.product-discount{
    color: red;
    font-size: 35px;
    font-weight: bold;
}

.product-cart{
   width: 100%;
}

.product-conversion{
    font-size: 20px;
}

.product-text{
    font-weight: bold;
    font-size: 25px;
}

.product-info{
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-information .fa-plus-circle{
    color: green;
}

.product-information .fa-minus-circle{
    color: red;
}


/* LEFT */
.productContent > .product-title{

}

.productContent > .product-score{

}

.productContent > .product-video{

}
.productContent > .product-foto{

}

.productContent > .product-review{

}

/* RIGHT */
.productContent > .product-price{
    width: 300px;
    height: 150px;
}

.productContent > .discount-label blue{
    width: 300px;
    height: 85px;
}

.productContent > .product-cart{
    width: 300px;
    height: 70px;
}


/* Betaalpagina */

.paymentMethod{

}

.paymentHeader li{
    font-size: 30px;
    border: black solid 1px;
}

.paymentMethod li{
    display: inline;
}

.paymentMethod input{
    display: inline;
    max-width: 175px;
    max-height: 175px;
    margin-left: 20px;

}

/* WINKELWAGEN */
.productContent > .cart-content {
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;

}
.cart{
    text-align: center;
    top: 10px;
    border: solid black;
}
.cartProduct {
    border: 20px;
    border: solid black;
}
.clearFloat {
    clear: both;
    bottom: 0px;
}
.row{
    display: grid;
    column-gap: 50px;
    row-gap: 1em;



}
.row-1{


}
.row-2{

}
.row-3{

}

.productHome {
    float: left;
    width: 33.333%;
    width: calc(33.333% - 20px);
    width: -webkit-calc(33.333% - 20px);
    width: -moz-calc(33.333% - 20px);
    margin: 10px;
    padding: 10px;
}

.productHome img {
    max-width: 200px;
    max-height: 200px;
}


/* SLIDESHOW */

{box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    top: 10px;
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideshow-container .text{
    width: 100%;
    border: 2px solid #62b4cf;
    bottom: 0px;
    background: white;
    color: black;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
/*.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
} */


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/* POP UP LOGIN */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 20px;
    background: #62b4cf;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}

.modal .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.modal .form input {
    color: black;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.modal .form button {
    text-transform: uppercase;
    outline: 0;
    background: #62b4cf;;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.modal .form button:hover,.form button:active,.form button:focus {
    background: lightgrey;
}
.modal .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.modal .form .message a {
    color: #62b4cf;
    text-decoration: none;
}
.modal .form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}



/* FOOTER */
.footer {
    background: 	#C0C0C0;
    color: white;
    height: 200px;
    position: relative;
    margin-top: 50px;
}

.footer .footer-content{
    height: 150px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 10px;
    text-align: center;
}

.footer .footer-content .footer-section a{
    color: white;
}

.footer .footer-bottom {
    background: 	#C0C0C0;
    color: black;
    opacity: 50%;
    height: 33px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 0px;
}

.search {
    float: left;
    text-align: center;

}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    padding: 8px;
    color: black;
    margin-top: 8px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*search bar */

.search .search-container {
    float: right;
}

.search input[type=text] {
    color: black;
    padding: 8px;
    margin-top: 8px;
    border: none;
    font-size: 18px;
}

.search .search-container button {
    float: right;
    padding: 9.5px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.search .search-container button:hover {
    background: #ccc;
}
/*@media screen and (max-width: 600px) {
    .search .search-container {
        float: none;
    }
    .search input[type=text], .search .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .search input[type=text] {
        border: 1px solid #ccc;
    }
}
*/

/* MEDIA QUERIES */
@media only screen and (max-width: 750px) {
    header {
    position: relative;
    }
    header ul {
        width: 100%;
        background: lightblue;
        max-height: 0px;
        overflow: hidden;
    }
    .showing{
        max-height: 100em;
    }
    header ul li{
        width: 100%;
    }
    header .menu-toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 1.9em;

    }
    header .logo{
        float: left;
        height: inherit;
        margin-left: .8em;
    }

}

.discount-label {
    padding:8px;
    position:relative;
    float:left;
    margin-top:35px;
    margin-left:520px;
    -webkit-border-radius:0 4px 0 4px;
    -moz-border-radius:0 4px 0 4px;
    border-radius:0 4px 4px 0;

}

.discount-label:after {

    right: 100%;
    border: solid transparent; content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(136, 183, 213, 0);

    border-width: 20px;
    top: 50%;
    margin-top: -20px;}

.discount-label:before {
    content: '';
    z-index: 2;
    position: absolute;
    top: 42%;
    right: 100%;
    width: 7px;
    height: 7px;
    opacity: .95;
    background: #ffffff;
    border-radius: 7px;
    -webkit-box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);
    box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);

}


.discount-label span {
    color:#ffffff;
    font-size:20px;
    text-align:center;
    font-family:"Raleway",Helvetica;

}

.blue{
    background-color:#1883DB;
}
.blue:after{
    border-right-color: #1883DB;
}

.productButton{
    text-transform: uppercase;
    outline: 0;
    background: #62b4cf;
    width: 300px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.productButton:hover{
    background-color: lightgrey;
}

.toevoegenWWButton{
    text-transform: uppercase;
    outline: 0;
    background: #62b4cf;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 0px 1.5px 3px 0px lightgrey;
}

.toevoegenWWButton:hover{
  background-color: lightgrey;
}


/*rating stars*/

/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
.rate {
    display: inline-block;
    /*float: left;*/
    /*height: 46px;*/
    /*padding: 0 10px;*/
}
.rate:not(:checked) > input {
    position:absolute;
    /*top:-9999px;*/
}
.rate:not(:checked) > label {
    float: right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    /*cursor:pointer;*/
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
/*.rate:not(:checked) > label:hover,*/
/*.rate:not(:checked) > label:hover ~ label {*/
/*    color: #deb217;*/
/*}*/
/*.rate > input:checked + label:hover,*/
/*.rate > input:checked + label:hover ~ label,*/
/*.rate > input:checked ~ label:hover,*/
/*.rate > input:checked ~ label:hover ~ label,*/
/*.rate > label:hover ~ input:checked ~ label {*/
/*    color: #c59b08;*/
/*}*/
